<form class="edit-board">
  <div class="form-group">
    <label for="title-field">Title</label>
    <input type="text" class="form-control" name="title" id="title-field" value="<%= board.escape('title') %>">
  </div>
</form>
