<h2>All Boards</h2>
<div class="boards-index row"></div>

<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6 board-form">
    <form>
      <div class="form-group">
        <label for="title-field">Title:</label><br>
        <input type="text" name="title">

        <input type="submit" class="btn btn-primary" value="Create New Board">
      </div>

    </form>
  </div>
</div>
