<%= board.escape('title') %>
<button class="
  btn-xs
  btn-danger
  remove-board-btn
  glyphicon
  glyphicon-remove
"></button>

<button class="
  btn-xs
  btn-warning
  edit-board-btn
  glyphicon
  glyphicon-pencil
"></button>
