<h2>All Boards</h2>

<form>
  <div class="form-group">
    <label for="title-field">Title:</label><br>
    <input type="text" name="title">

    <input type="submit" class="btn btn-primary" value="Create New Board">
  </div>
</form>

<div class="boards-index row"></div>
