<div class="checkbox">
    <label>
      <input
      type="checkbox"
      class="done-toggle"
      <%= item.get('done') ? "checked" : "" %>
      data-id="<%= item.id %>"
    >
    <%= item.escape('title') %>
  </label>
</div>
