div.boards {
  padding: 30px;
  margin: 10px;
  background-color: #CCCCCC;
  border-radius: 5px;
  border: solid 3px black;
  text-align: center;
  text-emphasis: 34px;
}

div.board-show {
  @extend .boards;
  min-height: 20pc;
}

div.boards-index-item {
  @extend .boards;
  position: relative;
}

div.boards-index-item:hover {
  cursor: pointer;
  background-color: #F9F9F9;
  border: solid 3px blue;
}

button.remove-board-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}

button.edit-board-btn {
  position: absolute;
  left: 0px;
}

div.board-form {
  margin-top: 30px;
}
